<a href="https://colab.research.google.com/github/Mirucla/Applied-Data-Management/blob/main/In_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt

In [10]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [11]:
import pandas as pd 
df=pd.read_csv("/content/gdrive/MyDrive/insurance.csv")

In [12]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [13]:
df.loc[df["sex"] == "female","sex"] = 1.
df.loc[df["sex"] == "male","sex"] = 0.

In [14]:
df.head(5)

   age  sex     bmi  children smoker     region      charges
0   19  1.0  27.900         0    yes  southwest  16884.92400
1   18  0.0  33.770         1     no  southeast   1725.55230
2   28  0.0  33.000         3     no  southeast   4449.46200
3   33  0.0  22.705         0     no  northwest  21984.47061
4   32  0.0  28.880         0     no  northwest   3866.85520

In [15]:
df.loc[df["region"] == "southwest","region"] = 1.
df.loc[df["region"] == "northwest","region"] = 0.
df.loc[df["region"] == "southeast","region"] = 0.

In [16]:
df.loc[df["smoker"] == "yes","smoker"] = 1.
df.loc[df["smoker"] == "no","smoker"] = 0.

In [17]:
df.head(5)

   age  sex     bmi  children smoker region      charges
0   19  1.0  27.900         0    1.0    1.0  16884.92400
1   18  0.0  33.770         1    0.0    0.0   1725.55230
2   28  0.0  33.000         3    0.0    0.0   4449.46200
3   33  0.0  22.705         0    0.0    0.0  21984.47061
4   32  0.0  28.880         0    0.0    0.0   3866.85520

In [18]:
import numpy as np

In [19]:
df.shape

(1338, 7)

In [20]:
data = np.array(df.iloc[:, :3])
target = np.array(df.iloc[:, -1])

In [21]:
cut = int((len(data) * .8) // 1)

In [22]:
in_data = data[:cut]
out_data = data[cut:]

in_target = target[:cut]
out_target = target[cut:]

In [23]:
from sklearn import preprocessing
scaler=preprocessing.StandardScaler().fit(in_data)
in_data_scale=scaler.transform(in_data)
from sklearn.linear_model import LassoCV

In [27]:
from numpy import arange
from pandas import read_csv
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
modCV=lasso().fit(in_data_scale, in_target)
a.modCV.alpha_
modCV.alpha_

NameError: ignored

In [29]:
from sklearn.linear_model import LassoCV
>>> from sklearn.datasets import make_regression
>>> X, y = make_regression(noise=4, random_state=0)
>>> reg = LassoCV(cv=5, random_state=0).fit(X, y)
>>> reg.score(X, y)
>>> reg.predict(X[:1,])

array([-78.49519808])

In [30]:
modCV=lasso().fit(in_data_scale, in_target)
a.modCV.alpha_
modCV.alpha_

NameError: ignored